<!DOCTYPE html>
<html>
<head>
<title>Super Upload</title>
<link rel="stylesheet" href="/static/css/uploader.css" type="text/css" />
</head>
<body>
  <form action="/uploader" enctype="multipart/form-data" method="POST" name="uploader" id="uploader">
    <h1>Super Upload</h1>
    <input type="file" name="datafile" id="datafile"/><br>
    <div id="progressNumber">
      <div id="progressBar">
        <div id="progressFill"></div>
      </div>
    </div> <a href="#" id="uploadLink"></a>
    <textarea cols="50" rows="5" id="description" name="description"></textarea>
    <input type="button" value="save" id="savebutton" disabled="disabled" />
</form>
<script type="text/javascript" src="/static/js/util.js"></script>
<script type="text/javascript" src="/static/js/uploader.js"></script>
<script type="text/javascript" src="/static/js/initialize.js"></script> 

</body>
</html>
